* {box-sizing: border-box}

body {
    background-color: beige;
}


.container {
  padding: 16px;
}

/* Top heading */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}


/* Label headings */
label {
    font-weight: bold;
    font-family: monospace, sans-serif;

}

/* Styling while required fields are empty/invalid */
input:invalid {
    border: 2px solid red;
  }


/* input fields */
input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


/* hightlight active and hover */
input:focus, input:hover {
  background-color: rgb(231, 230, 230);
  border: 1px solid #002403;
}


/* styles for hr */
hr {
  border: 1px solid #5c5b5b;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #352e7a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}



